name: Enforce Commit Name

on:
  pull_request:
    types: [ opened, reopened, synchronize, ready_for_review ]
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Validate Pull Request
    if: github.event.pull_request.draft == false
    runs-on: macos-26

    steps:
      - name: Add Path Globally
        run: echo "/usr/local/bin" >> $GITHUB_PATH

      - name: Validate Pull Request Name
        id: versioning
        uses: Oliver-Binns/Versioning@b6152639f8a9674571ba9794e27a47e2593ceb43 # 1.3.3
        with:
          ACTION_TYPE: 'Validate'
